<h1>Dashboard</h1>

<div class=dashboard>
  <div class=users-header><a href="#/users">Users</a></div>
  <div class='users'><%- users.length %></div>
  
  <div class=devices-header><a href='#/devices'>Devices</a></div>
  <div class='devices'><%- devices.length %></div>
</div>

<hr>

<div class=drop-zone></div>

<p>Drag an image into the box above</p>

<div class=images>
  <img class='draggable-image' id="react" src="/public/images/react.svg" draggable="true" width="85" height="69">
  <img class='draggable-image' id="backbone" src="/public/images/backbone.svg" draggable="true" width="85" height="69">
  <img class='draggable-image' id="aurelia" src="/public/images/aurelia.png" draggable="true" width="85" height="69">  
</div>